body {
  font-family: 'Baumans', cursive;
  background-color: #F9FBBC;
  width: 100%;
/*  position: relative;*/
}

h1 {
  text-align: center;
}

.clearfix {
  clear: both;
}


.list {
  float: left;
  width: 300px


}


.deleteButton {
  float: left;
  background-color: #F12E3B;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

#list-container{
  list-style-type: none;
}

#text-input{
  display: inline-block;
}

.button{
  background-color: #F12E3B;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  text-align: center;
  line-height: 300px;
  float: left;

}